
.card-img-top {
	position: relative;
/*	background-image: url(http://placehold.it/200x200);
*/
	width: 200px;
	height: 200px;
}

.audios {
	position: absolute;
	z-index: 1;
	width: 200px;
}

.glyphicon-heart {
		font-size: 2em;
	color: red;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.nav .navbar-nav {
    margin: 0 auto;
    text-align: center;
}